<h1>All Tasks</h1>

<table class="listing" summary="Task list" style="width: 100%;">
  <tr class="header">
    <th style="text-align: left">ID</th>
    <th style="text-align: left">Task</th>
    <th style="text-align: left">Actions</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.id %></td>
    <td><a href="tasks/<%= task.id %>"><%= task.name %> </a> </td>

    <td class="actions">
      <%= link_to("Show", '#', class: 'action show') %>
      <%= link_to("Edit", '#', class: 'action edit') %>
      <%= link_to("Delete", '#', class: 'action delete') %>
    </td>
  </tr>

    <% end %>

</table>